@media screen and (max-width: 850px) {
    #help-bckgnd {
        width: 200px;
    }
}

@media screen and (max-width: 800px) {
    #help-bckgnd {
        width: 160px;
    }

    .btn-icon {
        width: 20px;
    }
}

@media screen and (max-width: 750px) {
    #btn-start {
        font-size: 25px;
    }

    #controls-info {
        top: 40px;
    }
    
    #help-bckgnd {
        display: none;
    }

    #helpscreen h1 {
        font-size: 30px;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    #helpscreen h2 {
        font-size: 20px;
    }

    .btn-icon {
        margin: 3px;
    }
}

@media screen and (max-width: 680px) {
    .controls-info--item {
        font-size: 15px;
    }

    #helpscreen {
        font-size: 15px;
    }

    #helpscreen p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }
}

@media screen and (max-width: 600px) {
    #controls-info {
        top: 35px;
        padding: 7px;
    }

    .controls-info--item {
        font-size: 14px;
    }

    .ctrl-info-ico {
        width: 18px;
    }

    .ctrl-info-txt {
        font-size: 14px;
    }

    #helpscreen {
        font-size: 14px;
        padding-left: 45px;
        padding-right: 45px;
    }

    #help-content {
        gap: 20px;
    }

    #help-content--rules {
        max-width: 60%;
    }

    #btn-start {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #fct-btns {
        top: 13px;
    }

    .btn-icon {
        width: 16px;
    }
}

@media screen and (max-width: 600px), (max-height: 450px) {
    #help-content--controls table {
        border-spacing: 0 10px;
    }
    
    .ctrl-ico {
        width: 20px;
    }

    .ctrl-txt {
        font-size: 16px;
    }
}

@media screen and (max-width: 530px), (max-height: 450px) {
    #helpscreen {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    #helpscreen p {
        margin-block-start: 0.25em;
        margin-block-end: 0.25em;
    }
}

@media screen and (max-height: 480px) {
    #content {
        height: 100vh;
        border-radius: unset;

    }

    #btn-fullscreen {
        display: none;
    }
}