/* FONTS */
@font-face {
    font-family: 'edmundis';
    src: url('./fonts/edmunds/edmundis.ttf') format('truetype');
}

@font-face {
    font-family: 'edmunds';
    src: url('./fonts/edmunds/edmunds.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Sans';
    src: url('./fonts/PT_Sans/PTSans-Regular.ttf') format('truetype');
}
/* END: FONTS */


/* VARIABLES */
:root {
    --screen-width: 900px;
    --screen-heigt: 600px;
    --screen-border-radius: 40px;
}
/* END: VARIABLES */

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('./img/5_background/background_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#diffuser {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    opacity: 0.3;
}

#content {
    position: relative;
    z-index: 1;
    width: var(--screen-width);
    height: var(--screen-heigt);
    border-radius: var(--screen-border-radius);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
}

canvas {
    background-color: black;
}

#startscreen {
    background-image: url('./img/9_intro_outro_screens/start/startscreen_1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#endscreen {
    background-image: url('./img/9_intro_outro_screens/game_over/game over.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
}

.btn {
    border-radius: 10px;
    border: 2px solid rgb(145, 94, 0);
    background-color: rgb(255, 196, 118);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 0 0 12px 4px #000;
}

#btn-start {
    font-family: 'edmunds';
    font-size: 35px;
    position: absolute;
    width: fit-content;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 7px 45px;
}


/* GENERAL */

.d-none {
    display: none;
}

.content-elem {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}